@{
    ViewData["Title"] = "Index";

}

<section id="tabs" class="tabs section light-background">

    <div class="container">
        <div class="row gap-x-lg-4 justify-content-between">
            <div class="col-lg-4 js-custom-dots">
                <a href="#" class="service-item link horizontal d-flex active" data-aos="fade-left" data-aos-delay="0">
                    <div class="service-icon color-1 mb-4">
                        <i class="bi bi-alarm"></i>
                    </div>
                    <!-- /.icon -->
                    <div class="service-contents">
                        <h3>
                            Consulting
                        </h3>
                        <p>
                            TIS Labs offers tailored consulting to help organizations develop and implement innovative strategies for growth.

                        </p>
                    </div>
                    <!-- /.service-contents-->
                </a>
                <!-- /.service -->

                <a href="#" class="service-item link horizontal d-flex" data-aos="fade-left" data-aos-delay="100">
                    <div class="service-icon color-2 mb-4">
                        <i class="bi bi-bag-check"></i>
                    </div>
                    <!-- /.icon -->
                    <div class="service-contents">
                        <h3>
                            Scientific Research and Reporting
                        </h3>
                        <p>
                            TIS Labs conducts in-depth research and produces insightful reports to support evidence-based decision-making.

                        </p>
                    </div>
                    <!-- /.service-contents-->
                </a>
                <!-- /.service -->

                <a href="#" class="service-item link horizontal d-flex" data-aos="fade-left" data-aos-delay="200">
                    <div class="service-icon color-3 mb-4">
                        <i class="bi bi-briefcase"></i>
                    </div>
                    <!-- /.icon -->
                    <div class="service-contents">
                        <h3>
                            Innovation Management
                        </h3>
                        <p>
                            TIS Labs specializes in fostering innovation culture and developing strategies for growth, and designing hackathons, incubations, accelerators and Living Labs.
                        </p>
                    </div>
                    <!-- /.service-contents-->
                </a>
                <!-- /.service -->

                <a href="#" class="service-item link horizontal d-flex" data-aos="fade-left" data-aos-delay="300">
                    <div class="service-icon color-4 mb-4">
                        <i class="bi bi-easel"></i>
                    </div>
                    <!-- /.icon -->
                    <div class="service-contents">
                        <h3>
                            ICT & Data Analysis
                        </h3>
                        <p>
                            TIS Labs uses advanced ICT and data analysis techniques to drive informed decision-making and innovation.
                        </p>
                    </div>
                    <!-- /.service-contents-->
                </a>
                <!-- /.service -->
            </div>

            <div class="col-lg-8">
                <div class="swiper init-swiper-tabs">
                    <script type="application/json" class="swiper-config">
                        {
                          "loop": true,
                          "speed": 600,
                          "autoHeight": true,
                          "autoplay": {
                            "delay": 5000
                          },
                          "slidesPerView": "auto",
                          "pagination": {
                            "el": ".swiper-pagination",
                            "type": "bullets",
                            "clickable": true
                          },
                          "breakpoints": {
                            "320": {
                              "slidesPerView": 1,
                              "spaceBetween": 40
                            },
                            "1200": {
                              "slidesPerView": 1,
                              "spaceBetween": 1
                            }
                          }
                        }
                    </script>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="~/Front/img/img_h_1.jpg" alt="Image" class="img-fluid">
                            <div class="p-4">
                                <h3 class="text-black h5 mb-3">
                                    Consulting
                                </h3>
                                <div class="row">
                                    <div class="col-lg-8">
                                        <p>
                                            TIS Labs offers tailored consulting to help organizations develop and implement innovative strategies for growth.

                                        </p>
                                        @* <p>
                                            A small river named Duden flows by their place and
                                            supplies it with the necessary regelialia. It is a
                                            paradisematic country, in which roasted parts of sentences
                                            fly into your mouth.
                                        </p> *@
                                    </div>
                                    @* <div class="col-lg-4">
                                        <ul class="list-unstyled list-check">
                                            <li>Far far away, behind the word</li>
                                            <li>Far from the countries Vokalia</li>
                                            <li>Separated they live in Bookmarksgrove</li>
                                        </ul>
                                    </div> *@
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <img src="~/Front/img/img_h_2.jpg" alt="Image" class="img-fluid">
                        </div>
                        <div class="swiper-slide">
                            <img src="~/Front/img/img_h_3.jpg" alt="Image" class="img-fluid">
                        </div>
                        <div class="swiper-slide">
                            <img src="~/Front/img/img_h_4.jpg" alt="Image" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- /Tabs Section -->
<section id="services-2" class="services-2 section">

    <div class="container">
        <div class="row justify-content-center" data-aos="fade-up">
            <div class="col-md-6 col-lg-4">
                <span class="content-subtitle">Our Services</span>
                <h2 class="content-title">
                    Far far away, behind the word mountains, far from the countries
                    Vokalia
                </h2>
                <p class="lead">
                    Far far away, behind the word mountains, far from the countries
                    Vokalia and Consonantia, there live the blind texts.
                </p>
                <p class="mb-5">
                    Separated they live in Bookmarksgrove right at the coast of the
                    Semantics, a large language ocean.
                </p>
                <p>
                    <a href="#" class="btn btn-get-started">Get Started</a>
                </p>
            </div>
            <div class="col-md-6 col-lg-6 ps-lg-5">
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="services-item" data-aos="fade-up" data-aos-delay="">
                            <div class="services-icon">
                                <i class="bi bi-search"></i>
                            </div>
                            <div>
                                <h3>Square</h3>
                                <p>Separated they live in Bookmarksgrove right at the coast</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="services-item" data-aos="fade-up" data-aos-delay="100">
                            <div class="services-icon">
                                <i class="bi bi-command"></i>
                            </div>
                            <div>
                                <h3>Technology</h3>
                                <p>Separated they live in Bookmarksgrove right at the coast</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="services-item" data-aos="fade-up" data-aos-delay="200">
                            <div class="services-icon">
                                <i class="bi bi-grid"></i>
                            </div>
                            <div>
                                <h3>Brilliant Ideas</h3>
                                <p>Separated they live in Bookmarksgrove right at the coast</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="services-item" data-aos="fade-up" data-aos-delay="300">
                            <div class="services-icon">
                                <i class="bi bi-globe"></i>
                            </div>
                            <div>
                                <h3>Blueprint</h3>
                                <p>Separated they live in Bookmarksgrove right at the coast</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- /Services 2 Section -->
