@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="team" class="team section">

    <div class="site-section slider-team-wrap">
        <div class="container">



            <div class="row gy-4 justify-content-center">
                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="team">
                        <div class="pic">
                            <img src="~/Front/img/team/team-1.jpg" alt="Hamdy Abdelaty" class="img-fluid">
                        </div>
                        <h3 clas="">
                            <a href="#"><span class="">Dr. </span> Hamdy Abdelaty</a>
                        </h3>
                        @* <span class="d-block position">CEO, Founder, Atty.</span> *@
                        <p class="align-content-center">
                            B.Sc. Cairo University, Business Administration
                            M.Sc.Cairo University, Living Labs and NPD,
                            PhD. FU Berlin, Germany (Innovation Economics in SMEs - Open Innovation)
                            Post. doc. FU Berlin, Germany (Innovation Policies in Emerging Markets: Egypt and Bosnia and Herzegovina)
                            Senior Scientific Advisor of EU-funded Projects in the MENA region
                            Co-founder of TISLabs, LLC
                        </p>

                    </div>
                </div>

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="team">
                        <div class="pic">
                            <img src="~/Front/img/team/team-1.jpg" alt="Mohamed Ageez" class="img-fluid">
                        </div>
                        <h3 clas="">
                            <a href="#"><span class="">MR. </span>  Mohammed Ageez</a>
                        </h3>
                        @* <span class="d-block position">CEO, Founder, Atty.</span> *@
                        <p class="align-content-center">
                            B.Sc. Arab Academy for Science, Technology and Maritime Transport, Business Information Systems
                            Academic Diploma. Technology Entrepreneurship, Gonzaga University
                            Green Jobs Advisor, Advisory group of the Green Jobs for Youth Pact
                            Innovation Policy Researcher
                            Co-founder of TISLabs, LLC
                        </p>

                    </div>
                </div>
            </div>


        </div>
        <!-- /.container -->
    </div>
</section><!-- /Team Section -->
