@{
    ViewData["Title"] = "About";

}

<!-- About 2 Section -->
<section id="about-2" class="about-2 section light-background">

    <div class="container">
        <div class="content">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-5 col-lg-4 col-xl-4 order-lg-2 offset-xl-1 mb-4">
                    <div class="img-wrap text-center text-md-left" data-aos="fade-up" data-aos-delay="100">
                        <div class="img">
                            <img src="~/Front/img/img_v_3.jpg" alt="circle image" class="img-fluid">
                        </div>
                    </div>
                </div>

                <div class="offset-md-0 offset-lg-1 col-sm-12 col-md-5 col-lg-5 col-xl-4" data-aos="fade-up">
                    <div class="px-3">
                        @* <span class="content-subtitle">Our Mission</span> *@
                        <h2 class="content-title text-start">
                            Mission
                        </h2>
                        <p class="lead">
                            Our mission is to develop sustainable solutions for grand challenges by applying the Living Lab approach at the territorial level, ensuring early and active involvement of stakeholders in a co-creation 	innovation process.
                        </p>
                        @* <p class="mb-5">
                            The Big Oxmox advised her not to do so, because there were
                            thousands of bad Commas, wild Question Marks and devious Semikoli.
                        </p> *@
                        <br />
                        <h2 class="content-title text-start">
                            Vision
                        </h2>
                        <p class="lead">
                            Our vision is to drive techno-socio-economic transitions by creating an open innovation ecosystem that 	fosters entrepreneurship, technology transfer, and the diffusion of innovation.
                        </p>
                        <p>
                            <a href="#" class="btn-get-started">Get Started</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- /About 2 Section -->
<!-- Services Section -->
<section id="services" class="services section light-background">

    <div class="container">
        <div class="row gy-4 justify-content-center">

            <div class="col-lg-3">
                <div class="services-item" data-aos="fade-up">
                    <div class="services-icon">
                        <i class="bi bi-bullseye"></i>
                    </div>
                    <div>
                        <h3>Consulting</h3>
                        <p>
                            TIS Labs offers tailored consulting to help organizations develop and implement innovative strategies for growth.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="services-item" data-aos="fade-up" data-aos-delay="100">
                    <div class="services-icon">
                        <i class="bi bi-command"></i>
                    </div>
                    <div>
                        <h3>Research</h3>
                        <p>
                            TIS Labs conducts in-depth research and produces insightful reports to support evidence-based decision-making.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="services-item" data-aos="fade-up" data-aos-delay="200">
                    <div class="services-icon">
                        <i class="bi bi-bar-chart"></i>
                    </div>
                    <div>
                        <h3>
                            Innovation Support
                        </h3>
                        <p>
                            TIS Labs specializes in fostering innovation culture and developing strategies.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section><!-- /Services Section -->
<!-- Stats Section -->
<section id="stats" class="stats section light-background">

    <div class="container">

        <div class="row gy-4 justify-content-center">

            <div class="col-lg-5">
                <div class="images-overlap">
                    <img src="~/Front/img/img_v_1.jpg" alt="student" class="img-fluid img-1" data-aos="fade-up">
                </div>
            </div>

            <div class="col-lg-4 ps-lg-5">
                <span class="content-subtitle">Why Us</span>
                <h2 class="content-title">TIS Labs is an Innovation Management firm dedicated to providing high-quality innovation services.</h2>
                <p class="lead">
                    We 	specialize in designing, creating, validating, and implementing innovations within territorial or 	technological frameworks, or a combination thereof.
                </p>
                <p class="mb-5">
                    Our focus is on systemizing innovations and fostering 	sectorial innovation to drive systemic change and growth toward Just Transition.

                </p>
                <div class="row mb-5 count-numbers">

                    <!-- Start Stats Item -->
                    <div class="col-4 counter" data-aos="fade-up" data-aos-delay="100">
                        <span data-purecounter-separator="true" data-purecounter-start="0" data-purecounter-end="3919" data-purecounter-duration="1" class="purecounter number"></span>
                        <span class="d-block">Coffee</span>
                    </div>
                    <!-- End Stats Item -->
                    <!-- Start Stats Item -->
                    <div class="col-4 counter" data-aos="fade-up" data-aos-delay="200">
                        <span data-purecounter-separator="true" data-purecounter-start="0" data-purecounter-end="2831" data-purecounter-duration="1" class="purecounter number"></span>
                        <span class="d-block">Codes</span>
                    </div>
                    <!-- End Stats Item -->
                    <!-- Start Stats Item -->
                    <div class="col-4 counter" data-aos="fade-up" data-aos-delay="300">
                        <span data-purecounter-separator="true" data-purecounter-start="0" data-purecounter-end="1914" data-purecounter-duration="1" class="purecounter number"></span>
                        <span class="d-block">Projects</span>
                    </div>
                    <!-- End Stats Item -->

                </div>
            </div>

        </div>

    </div>
</section><!-- /Stats Section -->
